.sidebar {
    
    padding: 30px;
    border-right: 1px solid #ddd;
    width: 80%;
    box-sizing: border-box; 
}

.sidebar h2 {
    font-weight: bold;
    margin-top: 10px;
}

.btn-group .btn {
    border-radius: 20px;
}

.accordion-item {
    border: none;
}

.accordion-button::after {
    transform: rotate(90deg);
}

.form-control {
    width: 100%;
    box-sizing: border-box; 
}
