.sidebar {
    
    padding: 20px;
    border-right: 1px solid #ddd;
   
    box-sizing: border-box; 
}

.sidebar h2 {
    font-weight: bold;
    margin-top: 10px;
}





.accordion-button::after {
    transform: rotate(90deg);
}

.form-control {
    width: 100%;
    box-sizing: border-box; 
}
@media (max-width: 1500px) {
    .filter-sidebar {
      display: none;  
    }
  }